<a href="https://colab.research.google.com/github/daljit432/ASSIGNMENT/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+3

4

In [3]:
name = input("hii, what's is your name?")
print("nice too meet you" + "nikita")
age = ("how old are you")
print("so, you are already" + str(24) + "years old," + name + "!")

hii, what's is your name?daljit
nice too meet younikita
so, you are already24years old,daljit!

In [7]:
# testing len()
str1 = "you looK pretty"
print("the length of the string is :", len(str1))

the length of the string is : 15

In [33]:
age = [5,19,25,23,45]
x= [15,19,25,23,45]
def myfunc(x):
  if x > 15:
    return false
  else:
    return true

adults = filter(myfunc(x), ages(25))

for x in adults:
  print(x)

TypeError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
path ="/content/drive/MyDrive/python/bank.csv.txt"
df = pd.read_csv(path)

# data is stored as pandas dataframe

df.describe

<bound method NDFrame.describe of        age          job  marital  education  ... pdays  previous poutcome deposit
0       59       admin.  married  secondary  ...    -1         0  unknown     yes
1       56       admin.  married  secondary  ...    -1         0  unknown     yes
2       41   technician  married  secondary  ...    -1         0  unknown     yes
3       55     services  married  secondary  ...    -1         0  unknown     yes
4       54       admin.  married   tertiary  ...    -1         0  unknown     yes
...    ...          ...      ...        ...  ...   ...       ...      ...     ...
11157   33  blue-collar   single    primary  ...    -1         0  unknown      no
11158   39     services  married  secondary  ...    -1         0  unknown      no
11159   32   technician   single  secondary  ...    -1         0  unknown      no
11160   43   technician  married  secondary  ...   172         5  failure      no
11161   34   technician  married  secondary  ...    -1         0  unknown      no

[11162 rows x 17 columns]>